*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.header{
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aqua;
   color: blue;
}
h1{
   font-size: 40px;
}
.wrap{
   display: flex;
}
.menu{
   font-size: 18px;
   width: 200px;
   background-color: burlywood;
   padding: 20px 30px;
}
.menu>ul{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}
.content{
   padding: 20px;
   padding-top: 0px;
   background: url(ball3.png) repeat-y right top;
}
.content>p{
   font-size: 20px;
   line-height: 25px;
}
.content>img{
   float: left;
   margin: 20px;
}
h2{
   text-align: center;
   margin: 20px;
   font-size: 35px;
}