/*Путь CSS селекторами к вкладке "Отзывы покупателей"*/
.b-offers-subnav>:nth-child(3){
   background-color: aqua;
}
/* заголовок ("Цены на смартфон Apple iPhone 11 64GB (черный)")*/
.catalog-masthead__title, .js-nav-header{
   font-size: 40px;
}
.catalog-masthead>h1{
   color: #000;
}
/*  первая цена на товар в списке продавцов (1670,00 р.)*/
.offers-list__group>:first-of-type{
   color: red;
} 
/* вторая цена в списке продавцов */
.offers-list__group>:nth-child(2){
   color: blueviolet;
} 
/*  последняя цена в списке продавцов */
.offers-list__group>:last-of-type{
   color: green;
} 