/*@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');*/

@font-face {
    font-family: 'Marck Script', cursive;
    src: url('MarckScript-Regular.eot');
    src: url('MarckScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('MarckScript-Regular.woff2') format('woff2'),
        url('MarckScript-Regular.woff') format('woff'),
        url('MarckScript-Regular.ttf') format('truetype'),
        url('MarckScript-Regular.svg#Comfortaa-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}