h1{
      border: dashed 3px red;
      background-color: yellow;
}

#first{
   border: solid green 1px;
   background: url(img/SG1998.jpg) no-repeat center center;
}

#two{
   border-top: dotted 1px black;
   border-right: double 3px orange;
   border-bottom: solid 4px green;
   border-left: solid 1px blue;
   margin-top: 20px;
   background-image: url(img/skrip.gif);
   
}

#three{
   border: solid 1px green;
   margin-top: 20px;
}

#margin{
   margin: 0px;
}

#p2{
   font-family: 'Rubik Pixels', cursive;
}

#p3{
   font-family: 'Caveat', cursive;
}